.jumbo._dark(style="font-size: 1.2rem; color:white")
  p
    span &#x1F4AA; Powered by
    br
    a(href="https://anecoin.io/catapult/", target="_blank") AEN - Healthtech Distributed Ledger Technology (Blockchain)
    br
    a(href="http://beauter.outboxcraft.com/", target="_blank") Beauter - A simple framework for faster and beautiful responsive site
    br
    a(href="https://github.com/AENCO-Global/Chain-faucet", target="_blank") Faucet application for AEN

  p A project by &nbsp;
    a(href="https://aencoin.com", target="_blank")
